@model OrderManager.Models.Client

<div class="container mt-4">
    <h2 class="text-center mb-4">Novo Cliente</h2>

    <div class="card shadow-lg p-4">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Nome:</label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email:</label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Cpf" class="form-label">CPF:</label>
                <input asp-for="Cpf" class="form-control" required />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Birthday" class="form-label">Data de Nascimento:</label>
                <input asp-for="Birthday" type="date" class="form-control" required />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Addres" class="form-label">Endereço:</label>
                <input asp-for="Addres" class="form-control" required />
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="/Client" class="btn btn-secondary ms-2">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
